extends layout

block content
  h1= Login
  p Bienvenido a Agoesperanza Veterinaria LOGIN #{title}

    form(name="login", method="POST")
        div.input
            span.label Usuario
            input(type="text", name="usuario", required="true")
            span.label Contraseña
            input(type="password", name="password", required="true")
        p
        input(type="submit", value="Entrar")