doctype html
html
  head
    title= title
    
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/Javascript/jquery.js')
    script(src='/Javascript/botones.js')
    script(src='/Javascript/index.js')
    
  h1 MENU
    h2 Registrar Persona

    p 

      body
    
          form(id='create-form')
            | Identificacion: 
            input(type='number', name='identificacion', id="identificacion") 
            br
            | Nombre: 
            input(type='text', name='nombre', id="nombre") 
            br
            | Apellidos: 
            input(type='text', name='apellido', id="apellido")
            br
            | Teléfono: 
            input(type='text', name='telefono', id="telefono")
            br
            | Rol: 
            input(type='number', name='rol', id="rol") 
            p
            br
            button(value="Crear") Crear
            br
            button#get-button ConsultarToDo

            table
              thead
                tr
                  th Identificacion: 
                  th Nombre:
                  th Apellido:
                  th Telefono:
                  th Rol:
              tbody

